# ignore the virtual environment
venv/

# ignore the python bytecode
__pycache__/
*.pyc

# ignore StarUML software
*.mdj

# ignore vscode environment
.vscode/

# ignore bdd
lvdelh.sql

# ignore instance
instance/