# ignore the virtual environment
venv/

# ignore the python bytecode
__pycache__/
*.pyc

# ignore StarUML software
*.mdj

# ignore the requirements.txt
requirements.txt

# ignore vscode environment
.vscode/
