{% extends 'index.html' %}

{% block title%}BOOK{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="bookstore" href="{{ url_for('homepage')}}">Retour à la bibliothèque</a>
        </button>

        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('auth.logout')}}">Déconnexion</a>
        </button> 
    </nav>
{% endblock %}

    <section>
        <h1>LIVRE</h1>

        <h2>{{ book['book_title'] }}</h2>

        <hr>
        <strong>Un résumé</strong>
        <p>{{ book['book_resume'] }}</p>
        <hr>

        <p>Souhaitez-vous commencer la lecture ?</p>
        <button class="bouton" type="button">
            <a class="page" href="{{ url_for('bookstore.page', book_id=book['book_id'],)}}">
                Commencer la lecture
            </a>
        </button>
    </section>

{% endblock %}
