{% extends 'index.html' %}

{% block title%}{{ book['book_title'] }}{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="bookstore" href="{{ url_for('homepage')}}">Retour à la bibliothèque</a>
        </button>

        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('auth.logout')}}">Déconnexion</a>
        </button> 
    </nav>
{% endblock %}

    <section>
        <p>Vous lisez : </p>
        <h1>{{ book['book_title'] }}</h1>

        <hr>
        <h2>{{ book['chap_title'] }}</h2>
        
        <hr>
        <p>{{ book['chap_content'] | safe }}</p>
    </section>
    
{% endblock %}