{% extends 'index.html' %}

{% block title%}BOOK READING{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="bookstore" href="{{ url_for('homepage')}}">Retour à la bibliothèque</a>
        </button>

        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('auth.logout')}}">Déconnexion</a>
        </button> 
    </nav>
{% endblock %}

    <section>
        <h1>LIVRE EN COURS</h1>

        <p>Liste de livres en cours pour <strong>{{username}}</strong></p>

        <hr>
        <table class="tableau">
            <thead>
                <tr>
                    <th>Titre du Livre</th>
                    <th>Chapitre en cours</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% if not_book: %}
                <tr>
                    <td colspan="3">Vous n'avez pas de livre en cours</td>
                </tr>
                {% endif %}

                {% for book in books %}
                    <tr>
                        <td>{{ book['book_title'] }}</td>
                        <td>{{ book['chap_title'] }}</td>
                        <td><form method="POST"> 
                                <input type="hidden" name="book" value="{{ book['book_id'] }}"/>
                                <input type="hidden" name="choix" value="{{ book['chap_id'] }}"/>
                                <input type="submit" value="Reprendre"/>
                            </form>
                        </td>
                    </tr>    
                {% endfor %}
            </tbody>
        </table>
    </section>

{% endblock %}
