/*file for styles*/
h1 {
    color: red;
}

.nav {
    display: flexbox;
    background-color: lightseagreen;
    padding: 10px;
}

.bouton {

}

.info {
    font-weight: bold;
    font-size: x-large;
}