{% extends 'index.html' %}

{% block title%}Register{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="indexPage" href="{{ url_for('index')}}">Retour à l'Accueil</a>
        </button>
        <button class="bouton" type="button">
            <a class="loginPage" href="{{ url_for('auth.login')}}">S'identifier</a>
        </button>
    </nav>
{% endblock %}

    <h1>Bienvenue</h1>
    <p class="info">Veuillez-vous enregistrer</p>

    <form method="POST">
        <p>
            <label for="username">Votre pseudo :</label>
            <input type="text" name="username" id="username" required/>
        </p>
        <p>
            <label for="lastname">Votre nom :</label>
            <input type="text" name="lastname" id="lastname" required/>
        </p>
        <p>
            <label for="firstname">Votre prénom :</label>
            <input type="text" name="firstname" id="firstname" autofocus required/>
        </p>
        <p>
            <label for="email">Votre email :</label>
            <input type="email" name="email" id="email" required/>
        </p>
        <p>
            <label for="password">Votre mot de passe :</label>
            <input type="password" name="password" id="password" required/>
        </p>
        <input type="submit" value="Valider"/>
        <input type="reset" value="Effacer"/>
    </form>

    <br/>
    <br/>
    {% for message in get_flashed_messages() %}
        <div class="flash">!!! {{ message }} !!!</div>
    {% endfor %}

{% endblock %}
