<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="loginPage" href="{{ url_for('login')}}">S'indentifier</a>
        </button>
        <button class="bouton" type="button">
            <a class="registerPage" href="{{ url_for('register')}}">S'enregistrer</a>
        </button>
    </nav>
    <div class="container">
        <p> Index Page </p>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
