{% extends 'base.html' %}

{% block title%}LDVELH{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="loginPage" href="{{ url_for('login')}}">S'indentifier</a>
        </button>
        <button class="bouton" type="button">
            <a class="registerPage" href="{{ url_for('register')}}">S'enregistrer</a>
        </button>
    </nav>
{% endblock %}

   
    <div class="container">
        <p> Index Page </p>
        <p>Petite présentation du site</p>
    </div>
{% endblock %}
