{% extends 'index.html' %}

{% block title%}Homepage{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('auth.logout')}}">Déconnexion</a>
        </button> 
    </nav>
{% endblock %}

    <h1>Accueil</h1>

    <p>Voici une liste de livres disponibles : </p> 

    <hr>

    {% for book in books %}
        <a class="book" href="{{ url_for('bookstore.book', book_id=book['book_id'],)}}">
            <h2>{{ book['book_title'] }}</h2>
        </a>
        <hr>
    {% endfor %}
    
{% endblock %}
