{% extends 'index.html' %}

{% block title%}Homepage{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="indexPage" href="{{ url_for('index')}}">Retour à l'Accueil</a>
        </button> 
        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('auth.logout')}}">Déconnexion</a>
        </button> 
        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('profil')}}">Mon Profil</a>
        </button> 
    </nav>
{% endblock %}

    <h1>Accueil</h1>

    <p>Content de vous voir <strong>{{pseudo}}</strong></p> 
    
{% endblock %}
