{% extends 'index.html' %}

{% block title%}Homepage{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('auth.logout')}}">Déconnexion</a>
        </button> 
        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('profil')}}">Mon Profil</a>
        </button> 
    </nav>
{% endblock %}

    <section>
        <h1>Accueil</h1>

        <p> Content de vous voir : <strong>{{username}}</strong></p>

        <p> Souhaitez-vous reprendre un livre en cours ? 
            <button class="bouton" type="button">
                <a class="reading" href="{{ url_for('bookstore.reading')}}">Reprendre une lecture</a>
            </button>
        </p>

        <p>Ou découvrir un nouveau livre : </p> 

        <hr>

        {% for book in books %}
            <a class="book" href="{{ url_for('bookstore.book', book_id=book['book_id'],)}}">
                <h2>{{ book['book_title'] }}</h2>
            </a>
            <hr>
        {% endfor %}
    </section>
    
{% endblock %}
