{% extends 'base.html' %}

{% block title%}LDVELH{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="loginPage" href="{{ url_for('auth.login')}}">S'indentifier</a>
        </button>
        <button class="bouton" type="button">
            <a class="registerPage" href="{{ url_for('auth.register')}}">S'enregistrer</a>
        </button>
    </nav>
{% endblock %}

   
    <div class="container">
        <p>Petite présentation du site :</p>
        <br/>
        <p>Inscrivez-vous et profitez des joies de la lecture mais décidez du déroulé de l'histoire</p>
    </div>

{% endblock %}
