{% extends 'index.html' %}

{% block title%}Login{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="indexPage" href="{{ url_for('index')}}">Retour à l'Accueil</a>
        </button>
        <button class="bouton" type="button">
            <a class="registerPage" href="{{ url_for('register')}}">S'enregistrer</a>
        </button>
    </nav>
{% endblock %}

    <h1>Bienvenue</h1>
    <p class="info">Veuillez-vous identifier</p>

    <form method="GET" action="{{ url_for('homepage')}}">
        <p>
            <label for="lastname">Votre nom :</label>
            <input type="text" name="lastname" id="lastname" required/>
        </p><p>
            <label for="firstname">Votre prénom :</label>
            <input type="text" name="firstname" id="firstname" autofocus required/>
        </p>
        <p>
            <label for="password">Votre mot de passe :</label>
            <input type="password" name="password" id="password" required/>
        </p>
        <input type="submit" value="Valider"/>
    </form>
{% endblock %}
