{% extends 'index.html' %}

{% block title%}Mon Profil{% endblock %}

{% block content %}
{% block nav %}
    <nav class="nav">
        <button class="bouton" type="button">
            <a class="indexPage" href="{{ url_for('homepage')}}">Retour aux livres</a>
        </button> 
        <button class="bouton" type="button">
            <a class="logout" href="{{ url_for('auth.logout')}}">Déconnexion</a>
        </button> 
    </nav>
{% endblock %}

    <div class="thumbnail">
        <h1>Mon Profil</h1>
        <form method="POST">
            <div>
                <label for="username">Pseudo</label>
                <input type="text" name="username" id="username" value="{{username}}" required/>
            </div>
            <div>
                <label for="lastname">Nom</label>
                <input type="text" name="lastname" id="lastname" value="{{lastname}}" required/>
                <label for="firstname">Prénom</label>
                <input type="text" name="firstname" id="firstname" value="{{firstname}}" autofocus required/>
            </div>
            <div>
                <input type="submit" value="Valider"/>
                <input type="reset" value="Annuler"/>
            </div>
        </form>
    </div>

    <div class="thumbnail">
        <h1>Modifier mon adresse mail</h1>
        <form method="POST">
            <div>
              <label for="old_mail">Adresse e-mail</label>
              <input type="email" name="old_mail" id="old_mail" value="{{email}}"  disabled="disabled" >
            </div>
            <div>
              <label for="new_mail">Nouvelle adresse e-mail *</label>
              <input type="email" name="new_mail" id="new_mail" required>
              <label for="mail_confirm">Confirmation nouvelle adresse e-mail *</label>
              <input type="email" name="mail_confirm" id="mail_confirm" required>
            </div>
            <div>
              <input type="submit" value="Valider">
              <input type="reset" value="Annuler"/>
            </div>
        </form>
    </div>

    <div class="thumbnail">
        <h1>Modifier mon mot de passe</h1>
        <form method="POST">
            <div>
              <label for="old_password">Ancien mot de passe *</label>
              <input type="password" name="old_password" id="old_password" required>
            </div>
            <div>
              <label for="new_password">Nouveau mot de passe *</label>
              <input type="password" name="new_password" id="new_password" required>
              <label for="password_confirm">Confirmation nouveau mot de passe *</label>
              <input type="password" name="password_confirm" id="password_confirm" required>
            </div>
            <div>
              <input type="submit" value="Valider">
              <input type="reset" value="Annuler"/>
            </div>
        </form>
    </div>
    
{% endblock %}